.cards-container {
    margin-bottom: 50px;
}

select option:hover {
    box-shadow: 0 0 10px 100px #C0FFFF inset;
    /* background-color: #C0FFFF; */
}

.card {
    margin-top: 20px;
    border-radius: 3px;
}

.card-body {
    padding: 0 10px;
    min-height: 200px;
    background-color: #f5f5f5;
    color: lightslategray;
}

.card-heading {
    padding: 10px;
    line-height: 25px;
    background-color: #5090B2;
    color: white;
}

.back .card-heading {
    color:  lightslategray;
}

.card-heading-photo {
    background-color: white;
    /* padding: 3px; */
    border-radius: 50%;
}

.card .front, .card .back {
    border: 1px solid lightslategray;
}

.card-heading-photo img {
    border-radius: 50%;
}

.card .footer {
    padding: 10px;
}

.card .back, .add-task-form {
    display: none;
}
.add-task-form {
    background-color: #5090B2;
    padding-bottom: 10px;
}

.add-task-form label {
    color: white
}

.add-task-form textarea {
    max-width: 100%;
}

.card h4 {
    text-align: center;
}

.card .card-body p {
    padding: 5px;
}

.card .footer .actions {
    width: 100%;
    height: 100%;
    padding-bottom: 3px;
}

.card .footer .actions a {
    border: 1px solid gray;
    border-radius: 0;
}

.card .footer .actions input {
    margin-bottom: 3px;
    height: 25px;
}

.flip {
    color: white;
    border: none;
    background-color: #5090B2;
    font-size: 12px;
    width: 100%;
}

.back .flip {
    height: 34px;
    width: 50%;
}

.back .footer input {
    width: 100%;
}

.back .form-control {
    border-radius: 0;
}

.back textarea {
    min-height: 80px;
    max-height: 145px;
    max-width: 100%;
    min-width: 100%;
}

.flip:hover {
    background-color: lightslategray;
}

.task-short-info {
    padding-bottom: 3px;
    line-height: 15px;
}

.no-border-radius, .no-border-radius button {
    border-radius: 0;
}
.card .dropdown-menu {
    border-radius: 0;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
    min-height: 100px;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

/* .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
} */

.filters-container {
    margin-top: 20px;
    margin-right: 20px;
}
.add-task-filter {
    padding: 5px 10px;
    background-color:#5090B2;
    color: white;
    font-size: 14px;
}
/* .add-task-filter:hover {
    background-color: lightslategray;
} */

.select-users .selectize-control .single .selectize-input{
    border: 0;
    background-color: transparent;
    box-shadow: none;
    background-image: none;
    border-radius: 0;
}

.add-task-form input, .add-task-form button, .add-task-form textarea {
    border-radius: 0;
}
