.cards-container {
    margin-bottom: 50px;
}

select option:hover {
    box-shadow: 0 0 10px 100px #C0FFFF inset;
}

.card {
    margin-top: 20px;
    border-radius: 3px;
}

.card-body {
    padding: 0 10px;
    min-height: 200px;
    background-color: #f5f5f5;
    color: lightslategray;
}

.card-heading {
    padding: 10px;
    line-height: 25px;
    background-color: #5090B2;
    color: white;
    text-align: center;
}

.back .card-heading {
    color:  lightslategray; 
}

.back .card-body {
    min-height: 150px;
}

.card-heading-photo {
    background-color: white;
    border-radius: 50%;
}

.card .front {
    position: relative;
}

.card .front, .card .back {
    border: 1px solid lightslategray;
    height: 320px;
}

.card-heading-photo img {
    border-radius: 50%;
}

.card .footer {
    padding: 10px;
}

.card .back, .add-task-form, .filters-form {
    display: none;
}
.add-task-form, .filters-form {
    background-color: #5090B2;
    padding-bottom: 10px;
}

.add-task-form label, .filters-form label {
    color: white
}

.add-task-form textarea, .filters-form label {
    max-width: 100%;
}

.card h4 {
    text-align: center;
}

.card .card-body p {
    padding: 5px;
}

.card .footer .actions {
    width: 100%;
    height: 100%;
    padding-bottom: 3px;
}

.card .footer .actions a {
    border: 1px solid gray;
    border-radius: 0;
}

.card .footer .actions input {
    margin-bottom: 3px;
    height: 25px;
}

.flip {
    color: white;
    border: none;
    background-color: #5090B2;
    font-size: 12px;
    width: 100%;
}

.back .flip {
    height: 34px;
    width: 50%;
}

.back .footer input {
    width: 100%;
}

.back .form-control {
    border-radius: 0;
}

.back textarea {
    min-height: 80px;
    max-height: 120px;
    max-width: 100%;
    min-width: 100%;
}

.flip:hover {
    background-color: lightslategray;
}

.task-short-info {
    padding-bottom: 3px;
    line-height: 15px;
}

.no-border-radius, .no-border-radius button {
    border-radius: 0;
}
.card .dropdown-menu {
    border-radius: 0;
}


.marginBottom-0 {margin-bottom:0;}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:120%;left:0;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
/* .dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;} */
.dropdown-submenu:hover>a:after{border-left-color:#555;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.dropdown-menu li {
    background-color: white;
}

.dropdown-submenu .dropdown-toggle::after {
    content: '\25bc';
    height: 10px;
    width: 5px;
    color:gray;
}

.filters-container {
    margin-top: 20px;
    margin-right: 20px;
}

.add-task-filter, .additional-filters {
    padding: 5px 10px;
    color: lightslategray;
    font-size: 14px;
}

.add-task-filter.active, .additional-filters.active {
    background-color:#5090B2;
    color: white;
}
/* .add-task-filter:hover {
    background-color: lightslategray;
} */

.select-users .selectize-control .single .selectize-input{
    border: 0;
    background-color: transparent;
    box-shadow: none;
    background-image: none;
    border-radius: 0;
}

.tabs-wrapper input, .tabs-wrapper button, .tabs-wrapper textarea {
    border-radius: 0;
}

.tabs-wrapper form {
    padding-top: 10px;
}

.tabs-wrapper label {
    width: 100%;
}

.gray-input {
    background-color: lightslategray;
    color: white;
    border: 1px solid gray;
    font-size: 15px;
}

.gray-input:hover {
    background-color: gray;
    color: white;
}

.slider-selection {
    color: red;
}

.points-label {
    padding: 0 10px;
    color: white;
}

form .slider.slider-horizontal {
    width: 85%;
}

.slider-handle {
    background: white;
}

.slider-selection {
    background: gray;
}
